<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h1>Edit User</h1>
            <form action="/save_add" method="post">
                <div>
                    <label>Sr. No.</label>
                    <input type="text" name="srno" id="srno" value="<%= user.srno%>">
                    <label>Name</label>
                    <input type="text" name="name" id="name" value="<%= user.name%>">
                    <label>Mobile No</label>
                    <input type="text" name="mobileno" id="mobileno" value="<%= user.mobileno%>">
                    <label>Email</label>
                    <input type="text" name="email" id="email" value="<%= user.email%>">
                    <label>Address</label>
                    <input type="text" name="address" id="address" value="<%= user.address%>">
                    <button type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>